
body {
    font-family: Times New Roman;
    margin: 0;
    padding: 0;
    background-color: #1a1a1d; 
    color: #c8d6e5;
}

h1 {
    color: #c8d6e5;
    font-family: Times New Roman;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    padding: 0;
}

nav a {
    color: #e67e22;
    text-decoration: none;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.card {
    background: #252529;
    padding: 20px;
    border-radius: 8px; 
    border: 1px solid #eee; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.li {
    color: #54a0ff;
}


.card h3 {
    font-family: Times New Roman;
    color: #54a0ff;
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 20px;
    color: #c8d6e5;
}
